{% extends 'admin/change_form.html' %}


{% block extrahead %}
    <style>
        .transition-label {
            color: var(--body-quiet-color);
            padding-left: 10px;
            padding-top: 20px;
            font-weight: bold;
            font-size: 1.15rem;
          }
    </style>
{% endblock %}

{% block submit_buttons_bottom %}

  {% for object_transition in object_transitions %}
      <div class="submit-row">
        <label class="transition-label">{{ object_transition.block_label }}</label>
        {% for transition in object_transition.available_transitions %}
          <input type="submit" value="{{ transition.name }}" name="_transition_to" class="default">
        {% endfor %}
      </div>
  {% endfor %}

  {{ block.super }}
{% endblock %}
